<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>813844850563330</string>
      </array>
    </dict>
  </array>
  <key>FacebookAppID</key>
  <string>813844850563330</string>
  <key>FacebookClientToken</key>
  <string>59f3f8729a649b1fc85052e7970b83d1</string>
  <key>FacebookDisplayName</key>
  <string>NextPercent</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-share-api</string>
  </array>
</plist>
